*{
    padding: 0;
    margin: 0;
}

.main-container{
    display: grid;
    grid-template-columns: 200px auto;
    align-content: space-between;
}

.header-container{
    grid-column: 1 / span 2;
    padding: 5px;
    height: 50px;
    background-color: gray;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-container > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-container{
    padding-top: 75px; /* Sebesar .header-container padding+height atau lebih*/
    padding-left: 25px;
    padding-right: 25px;

    grid-column: 1;
    background-color: lightgray;
}
.navbar-container > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-container{
    padding-top: 75px; /* Sebesar .header-container padding+height atau lebih */
    padding-left: 25px;
    padding-right: 25px;

    grid-column: 2;
    background-color: white;
}

.footer-container{
    grid-column: 1 / span 2;
    height: 50px;
    background-color: gray;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

th, td {
    padding: 10px;
    background-color: lightgray;
}